// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "fonts.scss";
// endbower

body {
  font-size: 18px;
  font-family: 'Droid Serif', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.btn {
  outline: 0 !important;
  transition: all .15s ease;

  &:hover,
  &:focus { outline: 0 !important; }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* Sections */
section#map,
section#map2,
section#map3 {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  .bg {
    background-repeat: no-repeat;
    background-size: contain;
  }
}

section#map {
  .bg {
    background-image: url('../images/mapa1.jpg');
    height: 1007px;
  }
}

section#map2 {
  .bg {
    background-image: url('../images/mapa2.jpg');
    height: 1007px;
  }
}

section#map3 {
  .bg {
    background-image: url('../images/mapa3.jpg');
    height: 1007px;
  }
}


@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
  section#map .bg {
    background-image: url('../images/mapa1@2x.jpg');
    background-size: cover;
  }

  section#map2 .bg {
    background-image: url('../images/mapa2@2x.jpg');
    background-size: cover;
  }

  section#map3 .bg {
    background-image: url('../images/mapa3@2x.jpg');
    background-size: cover;
  }
}

/* Content & Do It Yourself */
#content,
#diy {
  .wrapper {
    background-color: transparent;
    display: block;
    float: left;
    position: absolute;
    left: 30px;
    right: 30px;
  }
}

/* Content */
#content {
  .wrapper {
    top: -800px;
  }

  p {
    color: #fff;
    padding: 0 60px;
  }
}

/* Do it yourself */
#diy {
  margin-top: -2px;

  .wrapper {
    top: -345px;
  }

  h1,
  p {
    background-color: #d49b43;
    color: #222;
    display: inline-block;
    margin: 0 50px 0;
    padding: 15px;
  }

  h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
  }

  h1.support {
    color: #936037;
  }
}

/* Media Queries */
@media (max-width: 1199px) {
  body {
    font-size: 16px;
  }

  section#map,
  section#map2,
  section#map3 {
    max-width: 970px;

    .bg {
      height: 830px;
    }
  }

  #content {
    .wrapper {
      top: -660px;
    }
  }

  #diy {
    .wrapper {
      top: -260px;
    }
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }

  section#map,
  section#map2,
  section#map3 {
    max-width: 750px;

    .bg {
      height: 636px;
    }
  }

  #content {
    .wrapper {
      top: -500px;
    }

    p {
      padding: 0 15px;
    }
  }

  #diy {
    .wrapper {
      top: -95px;
    }

    h1,
    p {
      margin: 0 5px 0;
    }

    h1 {
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 5px;
    }

    p {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 767px) {
  section#map,
  section#map2,
  section#map3 {
    max-width: 100%;
  }
}