// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "fonts.scss";
// endbower

body {
  font-size: 18px;
  font-family: 'Droid Serif', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.btn {
  outline: 0 !important;
  transition: all .15s ease;

  &:hover,
  &:focus { outline: 0 !important; }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* Sections */
section#map,
section#map2,
section#map3 {
  padding: 0;
  margin: 0 auto;
  width: 1170px;
  height: 1034px;

  .bg {
    background-repeat: no-repeat;
    background-size: contain;
  }
}

section#map {
  .bg {
    position: absolute;
    background-image: url('../images/mapa1.jpg');
    width: 1170px;
    height: 1034px;
  }
}

section#map2 {
  .bg {
    background-image: url('../images/mapa2.jpg');
    height: 1034px;
  }
}

section#map3 {
  position: relative;

  .bg {
    background-image: url('../images/mapa3.jpg');
    height: 1034px;
  }

  a {
    background-color: #a01e15;
    color: #fcbf2c;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    font-size: 38px;
    line-height: 30px;
    padding: 5px 10px;

    &.escola-eduardo-schutz {
      bottom: 415px;
      right: 200px;
    }

    &.eletrosul {
      bottom: 485px;
      left: 450px;
    }

    &.cidade-azul {
      bottom: 490px;
      right: 270px;
    }

    &.raia-olimpica-da-usp {
      bottom: 575px;
      right: 110px;
    }

    &.maracana {
      bottom: 655px;
      right: 180px;
    }

    &.escola-espaco-letrado {
      bottom: 700px;
      left: 600px;
    }

    &.barco-solar {
      bottom: 730px;
      right: 190px;
    }

    &.pousada-comunitaria {
      bottom: 965px;
      left: 490px;
    }

    &.juazeiro-bahia {
      bottom: 1000px;
      right: 225px;
    }

    &.cinesolar {
      bottom: 1035px;
      left: 235px;
    }

    &.fernando-de-noronha {
      bottom: 1135px;
      right: 220px;
    }
  }
}

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
  section#map .bg {
    background-image: url('../images/mapa1@2x.jpg');
    background-size: cover;
  }

  section#map2 .bg {
    background-image: url('../images/mapa2@2x.jpg');
    background-size: cover;
  }

  section#map3 .bg {
    background-image: url('../images/mapa3@2x.jpg');
    background-size: cover;
  }
}

/* Content */
.wrapper {
  background: transparent;
  display: block;
  float: left;
  position: absolute;
  left: 15px;
  right: 15px;
}

.wrapper {
  top: 205px;

  p {
    color: #fff;
    padding: 0 60px;
  }

  .diy {
    margin-top: 20px;

    h1,
    p {
      background-color: #d49b43;
      color: #222;
      display: inline-block;
      margin: 0 50px 0;
      padding: 15px;
    }

    h1 {
      padding-top: 20px;
      padding-bottom: 5px;
      padding-right: 20px;
    }

    h1.support {
      color: #936037;
    }
  }
}

/* Media Queries */
@media (max-width: 1199px) {
  body {
    font-size: 16px;
  }

  section#map,
  section#map2,
  section#map3 {
    width: 970px;
    height: 857px;

    .bg {
      width: 970px;
      height: 857px;
    }
  }

  .wrapper {
    top: 180px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }

  section#map,
  section#map2,
  section#map3 {
    width: 750px;
    height: 663px;

    .bg {
      width: 750px;
      height: 663px;
    }
  }

  .wrapper {
    top: 140px;
    left: 0;
    right: 0;
    
    & > p {
      padding: 0 15px;
    }

    .diy {
      h1,
      p {
        margin: 0 5px 0;
      }

      h1 {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 5px;
      }

      p {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  section#map,
  section#map2,
  section#map3 {
    max-width: 100%;
  }
}