// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "fonts.scss";
// endbower

body {
  font-family: 'Droid Serif', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.btn {
  outline: 0 !important;
  transition: all .15s ease;

  &:hover,
  &:focus { outline: 0 !important; }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* Sections */
header#solarmap,
section#solarmap2,
section#solarmap4,
section#solarmap3 {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  .bg {
    background-repeat: no-repeat;
    background-size: contain;
  }
}

header#solarmap {
  .bg {
    background-image: url('../images/mapa-solar-1.jpg');
    height: 530px;
  }
}

section#solarmap2 {
  .bg {
    background-image: url('../images/mapa-solar-2.jpg');
    height: 883px;
  }
}

section#solarmap3 {
  .bg {
    background-image: url('../images/mapa-solar-3.jpg');
    height: 763px;
  }
}

section#solarmap4 {
  .bg {
    background-image: url('../images/mapa-solar-4.jpg');
    height: 813px;
  }
}

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
  header#solarmap .bg {
    background-image: url('../images/mapa-solar-1@2x.jpg');
    background-size: cover;
  }

  section#solarmap2 .bg {
    background-image: url('../images/mapa-solar-2@2x.jpg');
    background-size: cover;
  }

  section#solarmap3 .bg {
    background-image: url('../images/mapa-solar-3@2x.jpg');
    background-size: cover;
  }

  section#solarmap4 .bg {
    background-image: url('../images/mapa-solar-4@2x.jpg');
    background-size: cover;
  }
}

/* Content & Do It Yourself */
#content,
#diy {
  .wrapper {
    display: block;
    float: left;
    position: absolute;
    left: 30px;
    right: 30px;
  }
}

/* Content */
#content {
  .wrapper {
    top: -325px;
  }

  p {
    color: #fff;
    padding: 0 60px;
  }
}

/* Do it yourself */
#diy {
  .wrapper {
    background-color: #4e211e;
    top: -1px;
  }

  h1,
  p {
    background-color: #d49a42;
    color: #000;
    display: inline-block;
    margin: 0 50px 0;
    padding: 15px;
  }

  h1 {
    padding-top: 15px;
    padding-bottom: 5px;
  }

  h1.support {
    color: #936037;
  }
}